**Question 1: Use yfinance to Extract Stock Data

In [1]:
import yfinance as yf  # Mengimpor pustaka yfinance dengan alias yf.

tesla = yf.Ticker('TSLA')  # Membuat objek tesla yang merepresentasikan data saham Tesla menggunakan kelas Ticker dari yfinance. 'TSLA' adalah ticker symbol untuk saham Tesla.
tesla_data = tesla.history(period="max") # Mengambil riwayat harga saham Tesla dari objek tesla. Parameter period="max" digunakan untuk mengambil data historis dari awal hingga saat ini.
tesla_data.reset_index(inplace=True) # Mereset indeks dari DataFrame tesla_data. Perubahan diterapkan pada DataFrame itu sendiri.
tesla_data.head()  # Menampilkan lima baris pertama dari DataFrame tesla_data.

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

**Question 2: Use Webscraping to Extract Tesla Revenue Data

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
html_data = requests.get(url).text

soup = BeautifulSoup(html_data, "html.parser")
soup.find_all('title')

In [4]:
# Menggunakan tbody kedua dan menambahkan data ke DataFrame
for row in soup.find_all("tbody")[1].find_all("tr"):
    col = row.find_all("td")
    if col:  # Memastikan bahwa kolom tidak kosong
        date = col[0].text
        revenue = col[1].text.replace("$", "").replace(",", "")
        tesla_revenue.loc[len(tesla_revenue)] = {"Date": date, "Revenue": revenue}

tesla_revenue.dropna(inplace=True)
tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

# Menampilkan 5 baris terakhir dari DataFrame
tesla_revenue.tail()

          Date Revenue
48  2010-09-30      31
49  2010-06-30      28
50  2010-03-31      21
52  2009-09-30      46
53  2009-06-30      27

**Question 3: Use yfinance to Extract Stock Data

In [9]:
import yfinance as yf

gme = yf.Ticker("GME")
gme_data = gme.history(period="max")
gme_data.reset_index(inplace=True)
gme_data.head(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620128,1.693350,1.603296,1.691666,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658001,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578048,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615920,1.662209,1.603296,1.662209,6892800,0.0,0.0

**Question 4: Use Webscraping to Extract GME Revenue Data*

**Question 5: Plot Tesla Stock Graph

In [54]:
make_graph(tesla_data, tesla_revenue, 'Tesla')

NameError: name 'make_graph' is not defined

**Question 6: Plot GameStop Stock Graph

In [55]:
make_graph(gme_data, gme_revenue, 'GameStop')

NameError: name 'make_graph' is not defined